shared:
  adminIpHashSalt: REPLACE_WITH_RANDOM_SECRET

development:
  database: REPLACE_WITH_DEVELOPMENT_DATABASE_PASSWORD
  serviceSecret: REPLACE_WITH_RANDOM_SECRET
  jwtHmacSha512PrivateKey: REPLACE_WITH_RANDOM_SECRET
  jwtRefreshTokenHashPepper: REPLACE_WITH_RANDOM_SECRET

test:
  database: REPLACE_WITH_TEST_DATABASE_PASSWORD
  jwtHmacSha512PrivateKey: REPLACE_WITH_RANDOM_SECRET
  jwtRefreshTokenHashPepper: REPLACE_WITH_RANDOM_SECRET

staging:
  database: REPLACE_WITH_STAGING_DATABASE_PASSWORD
  serviceSecret: REPLACE_WITH_RANDOM_SECRET
  jwtHmacSha512PrivateKey: REPLACE_WITH_RANDOM_SECRET
  jwtRefreshTokenHashPepper: REPLACE_WITH_RANDOM_SECRET

production:
  database: REPLACE_WITH_PRODUCTION_DATABASE_PASSWORD
  serviceSecret: REPLACE_WITH_RANDOM_SECRET
  jwtHmacSha512PrivateKey: REPLACE_WITH_RANDOM_SECRET
  jwtRefreshTokenHashPepper: REPLACE_WITH_RANDOM_SECRET
